<!-- <app-app-header title="Momentz-4-ever"
            [isUserLoggedIn]="true" ></app-app-header> -->
<div class="container" id="patronpage">
   
    <div class="item4" id="sidebar">
        <ul>
          <li><button type="button" id="listitemtwo" (click)="viewAccountInfo()">{{ listitemtwo }}</button></li>
          <li><button type="button" id="listitemthree" (click)="requestBook()">{{ listitemthree }}</button></li>
          <li><button type="button" id="listitemfour" (click)="dashboard()">{{ listitemfour }}</button></li>
        </ul>
    </div>

      <div class="item3" id="patronbody" #patronbody>
        <app-accountinfo [hidden]=boolAccountInfo></app-accountinfo>
          <label>Checked out books:</label><br> 
          <table id="checkedouttable">
              <tr>
                <th>Cover Image</th>
                <th>Title</th>
                <th>Author</th>
                <th>Due Date</th>
              </tr>
              <tr *ngFor ="let book of booksArray">
                    <td><img src={{book.coverimageurl}} alt="Cover Image" height=100 width=100></td>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.datecheckedout}}</td>
              </tr>
          </table>
          <div #fine>
            <br><span #balance>Balance Due: $0.00</span>
          </div>
          
        </div>
        
</div>
