<!-- <app-app-header title="Momentz-4-ever"
            [isUserLoggedIn]="true" ></app-app-header> -->
<div class="container" id="patronpage">
   
    <div class="item4" id="sidebar">
        <ul>
          <li><button #listitemoneElement (click)="viewFines()">{{ listitemone }}</button></li>
          <li><button id="listitemtwo" (click)="viewAccountInfo()">{{ listitemtwo }}</button></li>
          <li><button id="listitemthree" (click)="requestBook()">{{ listitemthree }}</button></li>
        </ul>
    </div>

      <div class="item3" id="patronbody">
          <label>Checked out books:</label><br> 
          <table id="checkedouttable">
                <th>Cover Image</th>
                <th>Title</th>
                <th>Author</th>
                <th>Due Date</th>
          </table>

          <br><br><label>Book History:</label><br>
          <table id="bookhistorytable">
                <th>Cover Image</th>
                <th>Title</th>
                <th>Author</th>
                <th>Check-out Date</th>
          </table>
          <div #fine>Something</div>
        </div>
        
</div>
