<div style="text-align:center" class="item3" id="logincomponent">
  <h1>
    Please {{ title }} For More Options!
  </h1>

   <input type="button" onclick="document.getElementById('id01').style.display='block'" value="Login">

  <div id="id01" class="modal">
      <span onclick="document.getElementById('id01').style.display='none'" 
    class="close" title="Close Modal">&times;</span>
  
  <form action="" class="modal-content animate" [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)">
      <div class="imgcontainer">
          <img src="./assets/library-books.jpg" alt="Avatar" class="avatar">
        </div>
      
        <div class="logincontainer">
    <label for="username">Username</label>
    <input type="text" formControlName="Username" placeholder="email@xyz.com">
    <p>Username entered is : {{Username}}</p>
    <label for="password">Password</label>
    <input type="password" formControlName="passwd" placeholder="password">
    <button type="button" name="submit" value="Login" [disabled] = "!formdata.valid" (click)="onLoginClick()" id="loginbutton"><a routerLink="/patron">Login</a></button>
    <div class="logincontainer">
        <input style=" background-color: #f44336" type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn" value="Cancel Login">
    </div>
    </div>
  </form>
</div>
  <router-outlet></router-outlet>
  