<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="topnav">
<ul>
    <li>
      <h2><a href="#home">Home</a></h2>
    </li>
    <li>
      <h2><a href="#news">News</a></h2>
      </li>
      <input type="text" placeholder="Search Books..">
      <button type="button" value="Search Books" id="searchBooks"><fa-icon [icon]="faArrowAltCircleDown"></fa-icon><i class="fas fa-search"></i></button>

  <li style="float:right">
    <h2 ><a routerLink="/login">Login</a></h2>
  </li>  
</ul>
</div>

<router-outlet></router-outlet>
