<div class="homecontainer">
<!-- <div style="text-align:center" class="mainhome">
<h1>Home</h1> -->

<div class="item7">
   <aside id="sidebar" style="text-align:left">
      <ul>
        <li>News</li>
        <li>Events</li>
        <li>New Books</li>
        <li>Speakers</li>
      </ul>
    </aside>
</div>

<div class="item6" id="home">
   <h2>Welcome the Revature Library Home Page</h2>
   <h3>Feal Free to search for books as a guest</h3>
   <h3>If you woul like to checkout a book</h3>
   <ul>
      <li>Login or</li>
      <li>Register for an account</li>
   </ul>

</div>
</div>
